@font-face {
  font-family: 'HSBombaram21-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'HSBombaram21-Regular';
}

h1 {
  font-size: 5em;
  text-align: center;
}